# Exclude .log files
*.log
# Exclude Python cache directories
__pycache__/
# Exclude Python bytecode files
*.pyc
# Exclude virtual environment directories
venv/
# Exclude environment variable files
.env
